.form-control {
    width: 51vw;
    height: 100%;
}

.chat-thumbnail-sm {
	border-radius: 50%;
	width: 2em;
	margin: 5px;
}

.handleResults {
    border: 1px solid #ddd;
    border-radius: 5%;
    background: white;
    position: absolute;
    padding: 5px;
    overflow: scroll;
    max-height: 450px;
}

.handleResults .handle {
	font-weight: bold;
}

.handleResults .name {
	
}

.user-hit {
	padding: 5px;
}